# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Build outputs
dist/
dist-ssr/
*.local

# Editor folders
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Metadata & OS specific
*.Identifier
*Zone.Identifier
.DS_Store
Thumbs.db

# Compressed Archives
*.7z
*.zip
*.rar
*.tar.gz

# Preprocessing & Data
# Ignore everything in the folder...
preprocessing/*
# ...Except for the processing script
!preprocessing/process.cjs

# Static Assets / Profile Data
public/profiles/

# Environment variables
.env
.env.local
.env.*.local